{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block main %}
<div id="main">
    <div class="cont">
        <h1>Контакты в Иркутске</h1>
        <h3>GEO Shop</h3>
        <h4>669200 г. Иркутск </h4>
        <a href="#">geo-shop@geo-shop.com</a><br>
        <a href="#">geo-shop.com</a>
    </div>
    <div class="map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A026aaca1a0af4aef8bb4c91d2394a3722d38b33be54a3ea882b2c6002b65df3c&amp;source=constructor"
                width="500" height="477" frameborder="0"></iframe>
    </div>
</div>
{% endblock %}



