{% extends 'base.html' %}


{% block main %}
<div id="main"><br>
  <img src="/static/geoshop/img/geo_shop_1.png" alt="geo_shop">
  <h2>КОМПАНИЯ "GEO Shop" {% now "Y" %}</h2> <br>
  <p>Генеральный дистрибьютор TOPCON и SOKKIA в России</p>

  <p>Продажа, техническая поддержка, обслуживание, сертификация, метрологическое обеспечение,
        а также внедрение комплексных технологических решений на базе высокотехнологичного
        оборудования Topcon и Sokkia в России и странах СНГ.
Мы реализуем: электронные тахеометры, широко востребованные в строительстве, топографических съемках,
землеустроительных работах; новейшие модели тахеометров, оснащенные большим удобным графическим дисплеем,
сенсорной клавиатурой, работающие в безотражательном режиме съемки и с использованием лазерного луча.
В широком ассортименте представлены нивелиры – оптические, лазерные и цифровые, обеспечивающие высокую
производительность при минимальных затратах труда.</p>
</div>

{% endblock %}